<div class="row">
  <div class="col-md-6 mx-auto">

    <div class="card">
      <div class="card-body">

        <h1 class="text-center mb-4 mt-4">
          <span class="text-primary">
            <i class="fa fa-lock"></i>
            Client Panel
          </span>
          Login
        </h1>

        <form #clientForm="ngForm"  (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email"> Email</label>
              <input  type        ="email"
                      name        ="email"
                      id          ="email"
                      class       ="form-control"
                      [ngClass]   ="{'is-invalid': clientEmail.errors && clientEmail.touched}"
                      [(ngModel)] ="email"
                      #clientEmail="ngModel"
                      pattern     ="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"
                      required>
              <div class="invalid-feedback" [hidden]="!clientEmail.errors?.required">
                Email required
              </div>
              <div class="invalid-feedback" [hidden]="!clientEmail.errors?.pattern">
                Must be example@example.com
              </div>

            </div>
            <div class="form-group">
              <label for="password"> Password</label>
              <input  type        ="password"
                      name        ="password"
                      id          ="password"
                      class       ="form-control"
                      [ngClass]   ="{'is-invalid': clientPassword.errors && clientPassword.touched}"
                      [(ngModel)] ="password"
                      #clientPassword="ngModel"
                      minlength   ="6"
                      required>
            </div>


            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>


      </div>
    </div>

  </div>
</div>
